<h1>show page</h1>
<% include partials/header %>
<h1><%=diskpark.name%></h1>

<img src="<%= diskpark.image %>">

<p><%= diskpark.description %></p>

<% diskpark.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>
<% include partials/footer %>
